

.profile-container {
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(90deg, #c4e2fa, #ccfafa);
  box-shadow: 20px 20px 10px #d9d9d9, -20px -20px 60px #ffffff;
}

.profile-header {
  text-align: center;
  margin-bottom: 30px;
}

.profile-header h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 0;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-info p, .profile-bio p {
  font-size: 1.1rem;
  margin: 0;
}

.profile-info p strong, .profile-bio p strong {
  color: #666;
}

.profile-info, .profile-bio {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-info p:not(:last-child), .profile-bio p:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .profile-container {
    padding: 10px;
  }

  .profile-header h1 {
    font-size: 2rem;
  }

  .profile-info p, .profile-bio p {
    font-size: 1rem;
  }
}
