

.table-data{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}


table {
    margin: 50px;
    font-size: 1.2rem;
    width: 80%;
    border-collapse: collapse;
    color: #0d174d;
}
td {
    /* border: 1px solid rgb(10, 120, 128); */
    padding: 12px;
    text-align: left;
    box-shadow: 6px 3px 5px 0px rgb(31, 22, 42);
}
th {
    background-color: #0d174d;
    padding: 12px;
    box-shadow: 6px 0px 5px 0px rgb(31, 22, 42);
    color: white;
    font-size: 1.3rem;
}

.preference{
    width: 100px;
}

.action{
    width: 300px;
}

.action-btn{
    display: flex;
    justify-content:space-evenly;
    /* border: 1px solid red; */
}

.btn-action{
    border: none;
    box-shadow: 1px 2px 1px 0px rgb(31, 22, 42);
    border-radius: 50px;
    font-size: 1rem;
    width: 7rem;
    height: 2.3rem;
    margin-left: 10px;
    cursor: pointer;
}

.btn-accept{
    background-color: rgb(166, 246, 150);
}

.btn-reject{
    background-color: rgb(246, 150, 152);
}

