/* General Styles */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.detailed-container{
    width: 50%;
    margin: auto;
}

/* Loading Styles */
.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-indicator {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Heading Styles */
.heading {
    text-align: center;
    margin-bottom: 20px;
}

.heading h1 {
    color: #2c3e50;
    font-size: 2em;
    margin: 0;
}

/* Hall Details Styles */
.hall-data {
    background-color: #9ff2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.hall-data p {
    margin: 10px 0;
    font-size: 1em;
    color: #34495e;
}

.hall-data p strong {
    color: #2c3e50;
}

/* Form Styles */
.form-data {
    margin-bottom: 15px;
}

.form-input {
    /* width: 100%; */
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 1em;
}

label {
    font-size: 1em;
    color: #34495e;
}

input[type="date"],
input[type="time"] {
    /* width: calc(100% - 20px); */
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    margin: 10px;
    font-size: 1em;
}

/* Button Styles */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}
