

.project-table-data{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}


.project-table {
    font-size: 1.2rem;
    width: 100%;
    border-collapse: collapse;
    color: #0d174d;
}
td {
    padding: 12px;
    text-align: left;
    box-shadow: 6px 3px 5px 0px rgb(31, 22, 42);
}
th {
    background-color: #0d174d;
    padding: 12px;
    box-shadow: 6px 0px 5px 0px rgb(31, 22, 42);
    color: white;
    font-size: 1.3rem;
}

.title{
    width: 180px;
}

.type{
    width: 150px;
}

.mentor{
    width: 180px;
}

.skills{
    width: 120px;
}

.description{
    width: 400px;
}

.details{
    width: 150px;
}

.project-action{
    width: 20px;
}

